<?xml version="1.0"?>
<configuration>
  <applicationSettings>
    <my-application.Properties.Settings>
      <setting name="FullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Profile" serializeAs="String">
        <value>Real</value>
      </setting>
    </my-application.Properties.Settings>
  </applicationSettings>
</configuration>
